@import 'tailwindcss';

@theme {
  --color-maroon: #6d372a;
  --color-burnt-orange: #d09e45;
  --color-cream: #eedebf;
  --color-dreamless-sleep: #111111;

  --font-sans: 'Source Sans 3', 'Source Sans 3 Fallback';

  --ease-default: ease;
}

/* Customized fallback fonts to avoid CLS, values courtesy of fontpie */
@font-face {
  font-family: 'Source Sans 3 Fallback';
  font-style: normal;
  font-weight: var(--font-weight-light);
  src: local('Arial');
  ascent-override: 112.86%;
  descent-override: 44.08%;
  line-gap-override: 0%;
  size-adjust: 90.73%;
}

@font-face {
  font-family: 'Source Sans 3 Fallback';
  font-style: normal;
  font-weight: var(--font-weight-normal);
  src: local('Arial');
  ascent-override: 108.71%;
  descent-override: 42.47%;
  line-gap-override: 0%;
  size-adjust: 94.19%;
}

:not(output):-moz-ui-invalid,
:not(output):-moz-ui-invalid:-moz-focusring {
  box-shadow: none;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-normal);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  button:disabled,
  [role='button']:disabled {
    cursor: not-allowed;
  }
}

.drinks-focusable {
  @apply ease-default transition-shadow focus-visible:ring-3 focus-visible:ring-blue-500/50 focus-visible:outline-hidden;
}
