# fly.toml app configuration file generated for drinks on 2023-08-02T11:27:30-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "drinks"
primary_region = "sea"
kill_signal = "SIGINT"
kill_timeout = "5s"
swap_size_mb = 512

[deploy]
  # Purge the CDN cache after deploying so we pick up new or updated environment variables
  release_command = "npx tsx app/utils/purge-cdn-cache.ts"

[mounts]
  source = "data"
  destination = "/data"
  processes = ["app"]

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.http_checks]]
    interval = "5s"
    timeout = "2s"
    grace_period = "5s"
    restart_limit = 0
    method = "get"
    path = "/_/healthcheck"
    protocol = "http"
